body{
	background-color: #F7F5F5;
}
div.nav-container{
	width: 100%;
	max-width: 100%;
	padding: 0px 40px;
	background-color: black;
	border-bottom: 3px solid #DA372A;
}

img{
	width: 100%;
}

div.logo img{
    width: 220px;
    margin-top: 5px;
}

nav ul{
	float:right;
	margin-bottom: 0px;
    margin-right: 12px;
}

nav ul li{
	display: inline-block;
	padding: 15px;
	margin-bottom: 0px;
	background-color: transparent;
	transition: .5s all;
	margin: 0px;
}

nav ul li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover{
	color: white;
}

nav ul li:hover{
	background-color: #DA372A;
}

div.search-bar{
	overflow: hidden;
	position: absolute;
	/* margin-top: -50px; */
	z-index: 1;
	opacity: 0;
	width: 100%;
	transition: all 1s;
}
div.search-bar input{
	width: 100%;
	/* position: absolute; */
	/* z-index: 111; */
	/* margin-top: -66px; */
	height: 41px;
	margin-bottom: 0px;
	background-color: #EEEEEE;
	outline: none;
	padding-left: 30px;
	font-size: 20px;
	color: grey;
}
li.search{
	background-image: url('../images/search.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 14px 15px;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 15px;
    height: 54px;
    width: 20px;
}
li.search a{
	position: absolute;
    width: 50px;
    height: 52px;
    left: 0;
    top: 0;
}
li.active{
	background-color: #DA372A;
}

.bxslider img{
	width: 100%;
}

.slider{
	border-bottom: 1px solid #BDBCBC;
	padding-bottom: 8px;
	background-color: white;
	/* position: absolute; */
	/* z-index: -1; */
}

div.deals{
	margin-top: 50px;
	text-align: right;
}

div.deals a{
	text-decoration: none;
}

div.deals .right-c{
	padding-right: 4%; 
}

div.deals .left-c{
	padding-left: 4%;
}

div.deals .row{
	margin-top: 50px;
}

div.deal{
	padding: 10px;
	box-shadow: 6px 7px 0px #D8D8D8;
	background-color: #D23C3F;
	overflow: hidden;
}

div.deal:hover{
}

div.deal img{
	max-height: 156px;
	transition: 1s all;
	/* max-width: 400px; */
}
div.deal span{
	font-weight: bold;
	color: white;
}

footer{
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=212121ff&noise=626262&density=33&opacity=64');
	margin-top: 80px;
}

footer .footer-bottom{
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=18&opacity=26');
	height: 100%;
	padding: 10px;
}

footer.four{
	padding: 30px;
}

footer p{
	margin-bottom: 0px;
	color: #4A4B4B;
	text-align: center;
	font-size: 13px;
}

section{
	margin: 45px 0px;
}
section ul li{
	color: #E2E1E1;
	display: block;
	margin-bottom: 0px;
}
section ul li.heading{
	font-weight: bold;
    margin-bottom: 16px;
    width: 134px;
    font-size: 18px;
    color: white;
    background-color: #E2E1E1;
    color: #5F5353;
    text-align: center;
}
section ul li a{
	text-decoration: none;
	color: #D2CDCD;
	transition: .5s all;
}
section ul li a:hover{
	color: white;
}
section.left{
	padding-left: 50%;
}

section.middle{
	padding-left: 20%;
}

section.middle ul,section.right ul{
	border-left: 1px solid #9E9E9E; 
	padding-left: 40px;
}

section.right{
	padding-left: 0%;
}

span.socials{
	padding-right: 10px; 
}
@media (max-width: 550px) {
	div.logo{
		text-align: center;
	}
	li.active{
		background-color: transparent;
	}
	li.search{
		height: 25px;
	}
	div.deals div.row{
		margin-top: 0px;
	}
	nav ul{
		float: none;
		text-align: center;
	}
	.left-c, .right-c{
		padding: 30px !important;
	}
	section.middle ul, section.right ul{
		border: none;
		padding-left: 0px;
	}
	section.left, section.middle, section.right{
		padding: 30px !important;
		margin: 0; 
	}
}

.locations h3{
    display: block;
    margin-left: 40px;
    margin-top: 40px;
}

.desserts img{
    width: 20%;
    float: left;
}

.dessert-title{
	background-color: white;
    color: #D23C3F !important;
    padding: 5px;
}
.description{
    font-size: 0.7em;
}
div.deal{
	transition: ease 0.5s;	
}
div.deal:hover{
	transform: scale(1.02,1.02);
	transition: ease 0.5s;	
	cursor: pointer;
}
